* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clock {
    height: 60vh;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#E09898 0%, #C86AD0 100%);
}

.clock-block {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px #000 solid;
    position: relative;
    background: #f1efef;
    box-shadow: 0px 0px 10px 5px #c1baba;
}

.clock-hour,
.clock-minute,
.clock-second {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
    transform: translate(-50%, -100%) rotateX(180deg);
    background: black;
    border-radius: 3px;

}

.clock-hour {
    height: 70px;
    width: 7px;
    transform: rotate(0deg);
}

.clock-minute {
    height: 90px;
    width: 7px;
    transform: rotate(0deg);
}

.clock-second {
    height: 90px;
    width: 3px;
    background: #a10707;
    transform: rotate(0deg);
    border-radius: 3px;
}

.clock-center {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #a10707;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 5;
    transform: translate(-50%, -50%);
}

.clock-numbers {
    list-style: none;
    font-style: italic;
    font-family: "MarckScript";
    font-weight: bold;
    font-size: 18px;
}

.clock-numbers li {
    position: absolute;
}
.clock-numbers li:nth-child(1){
    right: 66px;
    top: 32px;
    transform: translateY(-50%);
}
.clock-numbers li:nth-child(2){
    right: 28px;
    top: 70px;
    transform: translateY(-50%);
}
.clock-numbers li:nth-child(3){
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.clock-numbers li:nth-child(4){
    right: 26px;
    bottom: 50px;
    transform: translateY(-50%);
}
.clock-numbers li:nth-child(5){
    right: 66px;
    bottom: 14px;
    transform: translateY(-50%);
}
.clock-numbers li:nth-child(6){
    left: 49%;
    bottom: 0px;
    transform: translateY(-50%);
}
.clock-numbers li:nth-child(7){
    left: 65px;
    bottom: 12px;
    transform: translateY(-50%);
}
.clock-numbers li:nth-child(8){
    left: 32px;
    bottom: 54px;
    transform: translateY(-50%);
}
.clock-numbers li:nth-child(9){
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.clock-numbers li:nth-child(10){
    left: 24px;
    top: 70px;
    transform: translateY(-50%);
}
.clock-numbers li:nth-child(11){
    left: 64px;
    top: 34px;
    transform: translateY(-50%);
}
.clock-numbers li:nth-child(12){
    top: 20px;
    left: 47%;
    transform: translateY(-50%);
}
